@media screen and(max-width:1280px) {
  .hero {
    &__image {
      &::after {
        padding-top: 50%;
      }
    }

    &__top {
      width: 35%;
    }

    &__title {
      width: 50%;
      top: 35%;
    }
  }

  // ナビゲーション
  .global {
    &-item {
      & > a {
        font-size: 13px;
      }
    }

    &__header {
      &-tel {
        font-size: 23px;

        &-span {
          font-size: 16px;
        }
      }
    }
  }

  .news {
    &__weave {
      &-whiteimg {
        &-ttl {
          margin: 18px 60px;
          font-size: 22px;
          font-weight: 700;
        }
        &-txt {
          margin: 0 60px 10px;
        }
      }
    }
  }

  .flow {
    &__img {
      margin: 0 10px;

      &-cal {
        width: 230px;
      }
    }
  }

  .activity {
    &__icon01 {
      width: 15%;
      top: 180px;
      left: 150px;
    }
    &__icon02 {
      width: 10%;
      top: 250px;
      left: 400px;
    }

    &__heading {
      top: 25%;
    }
    &__txt {
      margin: 30px 0 0 0;
    }

    &__title {
      &-img {
        position: relative;
        z-index: 2;
      }
    }

    &__icon {
      &-yoto {
        z-index: 2;
      }
    }
  }

  .footer {
    &__left {
      padding-left: 20px;
    }
    &__right {
      padding-left: 20px;
      &-tel {
        font-size: 46px;
      }
    }

    &__bottom {
      &-img {
        &::after {
          padding-top: 15%;
        }
      }

      &-copyright {
        font-size: 14px;
      }
    }
  }

  /*-------------
// roomsページ
--------------*/
  .hero-img {
    &__whiteimg {
      &-ttl {
        width: 90%;

        & > p {
          margin: 0;
        }
      }
    }
  }
  /*-------------
// facilitesページ
--------------*/
  .hero-imgfac {
    &__whiteimg {
      &-ttl {
        width: 90%;

        & > p {
          margin: 0;
        }
      }
    }
  }

  /*-------------
// flowページ
--------------*/
  .flow-info {
    top: -100px;
  }

  /*-------------
// mealページ
--------------*/
  
}

@media screen and(max-width:1400px) {
  // ナビゲーション
  #global {
    &-nav {
      width: 100%;
    }
  }

  .header {
    &__inner {
      width: 97%;
    }
  }

  .main {
    &__right {
      position: relative;
      top: 200px;
    }
  }
}
