@media screen and (max-width: 480px) {
  .btn {
    &-white {
      width: 230px;
      height: 40px;
      line-height: 40px;
      font-size: 13px;

      & > img {
        position: relative;
        bottom: 8px;
      }
    }
  }

  .header {
    height: 80px;
  }
  .hero {
    &__image {
      &::after {
        padding-top: 90%;
      }
    }

    &__icon {
      &-info {
        position: absolute;
        bottom: 13%;
        right: -10px;
      }
      &-cal {
        & img {
          width: 50px;
        }
      }
      &-tel {
        & img {
          width: 50px;
        }
      }
    }

    &__top {
      width: 60%;
      left: 20px;
      top: 40px;
    }

    &__title {
      & > img {
        width: 90%;
      }
    }
  }
  .main {
    &__inner {
      position: relative;
      bottom: -28px;

      &-txt {
        bottom: 68px;
        & > p {
          font-size: 14px;
        }
      }
    }

    &__title {
      left: 0;
      & > h1 {
        font-size: 35px;
        position: relative;
        bottom: 23px;
      }
    }

    &__txt {
      left: 0;
      & > p {
        font-size: 15px;
        margin: 0;
        position: relative;
        bottom: 20px;
      }
    }

    &__right {
      top: 100px;
      left: 0;
    }
    &__left {
      position: relative;
      top: 200px;
      left: 25px;
    }

    &__logo {
      position: relative;
      bottom: 60px;
      left: 30px;
    }
  }

  .accordion-open {
    font-size: 13px;
  }
  .news {
    &__weave {
      &-img {
        height: 80%;
      }

      &-person01 {
        top: -6%;
      }
      &-whiteimg {
        &-ttl {
          margin: 20px 30px;
          font-size: 20px;
        }
        &-txt {
          margin: 0 30px;
        }
      }
    }
    &__backimg {
      &-white {
        margin-bottom: 90px;
        bottom: -90px;
        height: 55%;
      }
    }
    &__btn {
      bottom: -20%;
    }

    &__concept {
      &-wrap {
        top: 8%;
      }
    }
  }

  .flow {
    &__tel {
      &-wrap {
        font-size: 32px;
        top: 15px;
        margin: 0 0 5px 0;
      }
      &-span {
        font-size: 18px;
      }
    }

    &__contact {
      margin-bottom: 14px;
    }
    &__fax {
      font-size: 22px;
    }
  }

  .activity {
    &__btn {
      right: inherit;
      left: 50%;
      bottom: 10%;
    }
    &__backimg {
      padding-top: 88%;
    }
  }

 
  //conceptページ
  .hero-main {
    padding-top: 80px;
  }

  .info-des {
    &__inner {
      & table {
        & > tbody > tr {
          display: block;
        }

        & > tbody > tr > th {
          display: block;
          padding: 15px 5px;
          width: 60%;
        }
        & > tbody > tr > td {
          display: block;
          padding: 5px 5px;
        }
      }
    }
  }

  //roomsページ
  .hero-img {
    &__weave {
      &-wrap {
        height: 130px;
      }
      &-container {
        height: 100%;
      }
      &-img {
        height: 100%;
      }
      &-person01 {
        top: -13%;
        width: 10%;
      }
      &-person02 {
        width: 12%;
        top: -12%;
      }

    }
	
	&__whiteimg {
		width: 90%;
	}
  }

  .map {
	  &__inner {
		  width: 90%;
	  }
  }
  .btn {
	  &-white {
		  margin: 30px 0 0 0;
	  }
  }

  .type {
	  margin-top: 50px;
	  padding-top: 40px;
	  padding-bottom: 30px;
  }

  

  .footer {
    &__content {
      width: 100%;
    }

    &__bottom {
      &-img {
        &::after {
          padding-top: 34%;
        }
      }

      &-copyright {
        padding-top: 10px;
        font-size: 12px;
      }
    }

    &__scroll {
      right: 20px;
      width: 60px;
    }
  }
}

@media screen and (max-width: 410px) {
  .news {
    &__weave {
      &-whiteimg {
        &-ttl {
          margin: 10px 20px;
        }
        &-txt {
          margin: 0 20px;
        }
      }
    }
  }
}
