@media screen and (max-width: 780px) {
  .hero {
    &::after {
      padding-top: 40%;
    }

    &__top {
      top: 40px;
    }

    &__title {
      & > img {
        width: 65%;
      }
    }
  }

  .main {
    &__title {
      margin-top: 60px;
    }
    &__panel {
      flex-direction: column;
      margin-bottom: 30px;

      &-title {
        margin: 0 auto;
        width: 100%;
      }

      &-txt {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  //   conceptページ
  .info-des {
    &__inner {
      & table {
        & > tbody > tr {
          display: block;
        }

        & > tbody > tr > th {
          display: block;
          padding: 15px 20px;
          width: 40%;
        }
        & > tbody > tr > td {
          display: block;
          padding: 5px 20px;
          width: 100%;
        }
      }
    }
  }

  .footer {
    &__nav {
      &-wrap {
        justify-content: end;
        & a {
          width: 30%;
        }
      }
    }

    &__content {
      width: 70%;
    }

    &__bottom {
      &-img {
        &::after {
          padding-top: 25%;
        }
      }
      &-inner {
        top: 35%;
        flex-direction: column-reverse;
        width: 80%;
        align-items: center;
      }
      &-copyright {
        padding-top: 10px;
      }
    }
  }

  //roomsページ
  .hero-img {
    // &__weave {
    //   &-container {
    //     height: 200px;
    //   }
    //   &-img {
    //     height: 100%;
    //   }

    // }
    &__whiteimg {
      &-ttl {
        & > p {
          font-size: 13px;
        }
      }
    }

    &__icon {
      &-info {
        right: -20px;
      }
      &-cal {
        & img {
          width: 75%;
        }
      }
      &-tel {
        & img {
          width: 75%;
        }
      }
    }
  }
  //facilitesページ
  .hero-imgfac {
    //波画像箇所
    &__weave {
      &-wrap {
        height: 150px;
      }
      &-container {
        //   height: 100%;
      }
      &-img {
        // height: 100%;
      }

	  &-person01 {
		  top: -13%;
	  }
    }

    &__whiteimg {
      height: 70%;
    }
  }
}
