html {
  scroll-behavior: smooth;
}

body {
  font-family: YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック",
    "Yu Gothic", "Sogoe UI", sans-serif;
}

.mail-a {
  color: #0068b6;
  &:hover {
    text-decoration: none;
    color: #0068b6;
  }
}

// slick
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-initialized .slick-slide {
  display: block;
}

// 共通パーツ
.font-jose {
  font-family: "Josefin Sans", sans-serif;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.font-45 {
  font-size: 45px;
}

.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-90 {
  padding-bottom: 90px;
}

.pt-40 {
  padding-top: 40px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-90 {
  padding-top: 90px;
}

.line-hi-70 {
  line-height: 50px;
}

.po-b {
  position: relative;
  top: 20px;
}

.back-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.back-img::after {
  content: "";
  display: block;
}

.main-content {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

#global-container {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}



img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

.hero {
  position: relative;

  &__image {
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &::after {
      content: "";
      display: block;
      padding-top: 42%;
    }
  }

  &__top {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 30%;

    &-title {
      position: absolute;
      top: 5%;
      left: 2%;
      color: white;
      font-weight: bold;
    }
  }

  &__title {
    position: absolute;
    top: 20%;
    right: 6%;
  }

  &__icon {
    &-sns {
      position: absolute;
      bottom: 15%;
      left: 3%;
    }
    &-face {
      margin-top: 10px;
    }

    &-info {
      position: absolute;
      bottom: 13%;
      right: -3px;
    }
    &-tel {
      margin-top: 10px;
    }
  }
}

.main {
  &__images {
    &-weave {
      position: relative;
      & > img {
        position: relative;
        bottom: 30px;
        width: 100%;
      }
    }
  }

  &__inner {
    @extend .main-content;
  }

  &__title {
    font-weight: 700;
    text-align: center;
  }

  &__panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    &-title {
      width: 29%;
      height: 70%;
      line-height: 70px;
      background-color: #54c2f0;
      margin-right: 1%;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &-txt {
      width: 69%;
      padding: 10px;
      height: 70%;
      box-sizing: border-box;
      background-color: #f7f7f7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.info {
  &__inner {
    @extend .main-content;
  }

  &__ttl {
    margin: 20px auto 0;
    text-align: center;
    width: 300px;

    & > a {
      position: relative;
      border-bottom: 1px solid;

      &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: -35px;
        background-image: url(../images/top/icon_pdf.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 25px;
      }
    }
  }
}

// ニュースアイコン色
.icon01 {
  background-color: black;
  color: white;
}
.icon02 {
  background-color: #faaf3b;
  color: white;
}
.icon03 {
  background-color: #c93753;
  color: white;
}

.news {
  margin-top: 90px;
  background-color: #fdf7f1;

  &__inner {
    @extend .main-content;
    @extend .pb-90;
  }

  &__ttl {
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 30px;

    &-sub {
      text-align: center;
      position: relative;
      bottom: 30px;
      font-weight: 700;
    }
  }

  &__beside {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    font-weight: 700;

    & > a {
      // display: flex;
      &:hover {
        opacity: 0.6;
      }
    }

    &-date {
      width: 100px;
    }
    &-icon {
      width: 80px;
      height: 25px;
      text-align: center;
      font-size: 13px;
      line-height: 25px;
      border-radius: 15px;
      margin-right: 20px;
    }

    &-des {
      width: 80%;
    }
  }

  // コンセプト波画像箇所
  &__weave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-img {
      width: 100%;
      object-fit: cover;
      position: relative;
      z-index: 2;
    }

    &-container {
      position: relative;
      z-index: 2;
    }

    &-person01 {
      position: absolute;
      top: -7%;
      left: 12%;
      width: 5%;
      z-index: 1;
    }
    &-person02 {
      position: absolute;
      top: -7%;
      right: 7%;
      width: 7%;
      z-index: 3;
    }
    &-person03 {
      position: absolute;
      bottom: -3%;
      left: 8%;
      width: 8%;
      z-index: 3;
    }

    &-wrap {
      position: relative;
    }

    &-whiteimg {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      width: 50%;
      height: 60%;
      background-color: #ffffff;
      border-top-left-radius: 20px;

      &-ttl {
        margin: 30px 60px;
        font-size: 32px;
        font-weight: 700;
      }
      &-txt {
        margin: 0 60px;
      }
    }
  }

  &__concept {
    &-wrap {
      position: absolute;
      top: 20%;
      left: 20%;
      color: #ffffff;
      font-weight: bold;
      z-index: 2;
    }
    &-title {
      @extend .font-45, .font-jose;
    }
    &-subtitle {
      font-size: 18px;
    }
  }

  // MOREボタン
  &__btn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.panel {
  @extend .back-img;
  @extend .back-img::after;
  padding-top: 30%;
  width: 33.33%;
  position: relative;

  &-row {
    margin-top: 90px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
  }

  &__cover {
    background-image: url(../images/top/panel_back.png);
    @extend .back-img;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 700;
  }

  &__title {
    @extend .font-45, .font-jose;
  }
  &__subtitle {
    text-align: center;
  }

  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;

    &-wrap {
      position: relative;
    }
  }
}

.flow {
  margin-top: 90px;

  &__inner {
    background-color: #fdf7f1;
    @extend .main-content;
    margin-bottom: 40px;
    position: relative;
  }

  &__ttl {
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 30px;

    &-sub {
      text-align: center;
      position: relative;
      bottom: 30px;
      font-weight: 700;
    }
  }

  &__content {
    margin: 0 auto;
    width: 90%;
    height: 120px;
    background-color: #ffffff;
    line-height: 120px;

    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__txt {
    margin-bottom: 0;
  }

  &__img {
    height: 20px;
    margin: 0 50px;

    &-cal {
      display: block;
    }
  }

  &__contact {
    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      @extend .pb-40;
    }
  }

  &__booking {
    font-weight: 700;
  }

  &__time {
    display: block;
    margin-right: 30px;
  }

  &__tel {
    & > img {
      position: relative;
      top: 15px;
    }
    &-wrap {
      display: block;
      font-weight: 700;
      font-size: 53px;
      position: relative;
      top: 20px;

      &:hover {
        opacity: 0.6;
      }
    }
    &-span {
      font-size: 28px;
    }
  }

  &__booking {
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 3px;
  }
  &__fax {
    display: block;
    font-size: 28px;
    font-weight: 700;
  }

  &__mail {
    & > img {
      position: relative;
      bottom: 5px;
    }
  }

  &__icon {
    &-star {
      position: absolute;
      bottom: -10px;
      right: 0;
    }
  }
}

.activity {
  position: relative;
  margin-top: 90px;

  &__icon {
    &-yoto {
      position: absolute;
      top: -140px;
      left: 90px;
    }
  }

  &__title {
    &-img {
      margin-bottom: 30px;
      & > img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__backimg {
    background-image: url(../images/top/activity_backimg.png);
    @extend .back-img;
    @extend .back-img::after;
    padding-top: 28%;
    position: relative;
    z-index: -1;
  }

  &__icon01 {
    width: 15%;
    position: absolute;
    top: 180px;
    left: 150px;
  }
  &__icon02 {
    width: 10%;
    position: absolute;
    top: 300px;
    left: 500px;
  }

  &__heading {
    position: absolute;
    top: 40%;
    right: 15%;
    color: #ffffff;

    &-ttl {
      @extend .font-jose, .font-45;
      font-weight: 700;
    }

    &-subttl {
      font-size: 18px;
    }
  }

  &__txt {
    margin: 60px 0 0 0;
  }

  &__btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    transform: translateX(-50%);
  }
}








